/* pages/payment/index.wxss */
@import './skeleton/index.skeleton.scss';
.text-color {
    color: red
}

.bg-image{
    height: 400rpx;
    // background-image: url(../../assets//tabbar/pay.png);
    
    background-image: url(https://iknow-pic.cdn.bcebos.com/6d81800a19d8bc3ed2330b54908ba61ea8d34570);
    background-size: 100% 100%;
}